@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');

html {
    height: 100%;
}
body {
    font-family: "Roboto";
    min-height: 100%;
    background: #f3dcf2;
    position: relative;
    vertical-align: middle;
    text-align: center;
}
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body { min-height: 100vh; } */


.splashscreen, .gameoverscreen, .winscreen {
    margin-top: 5%;
    margin-bottom: auto;
    background-image: url("Images/BGPARIS.png");
    height: 720px;
    width: 450px;
    background-size: 450px;
    display: inline-block;
}

.gameoverscreen > .splash-text {
  margin-top: 60%;
}

.winscreen > .splash-text {
  margin-top: 60%;
}
.splash-text {
    margin-top: 70%;
}



h1 {
  font-family: "Roboto";
  color: #81d6e6;
  font-size: 70px;
  font-weight: 300;
  margin-top: 70px;
}

 .splash-title {
    font-family: "Dancing Script";
    color: #81d6e6;
    font-size: 70px;
    /* line-height: 1em; */
    font-weight: 300;
    margin-top: 70px;
  } 

  .splash-title-2 {
    font-family: "Dancing Script";
    font-size: 40px;
    color: white;
  }

  .youwon,  .youlost {
    color: #81d6e6;
    font-size: 50px;
    /* line-height: 1em; */
    font-weight: 300;
  }

 


/* .winscreen, .gameoverscreen {
    
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    border: solid #81d6e6 6px; 
    border-radius: 15px;
    width: 600px;
    height: 800px;
    padding: 0 auto;
    margin: 0 auto;
} */
  
.paris-pic {
    height: auto;
    width: 100%;
    /* margin-bottom: 50px; */
}

  /* body > div {
    height: 450px;
    width: 600px; 
    padding-top: 50px;
    position: relative;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
  } */


  /* button {
    border-radius: 15px;
    padding: 20px;
    background-color: #81d6e6;
    border-color: white;
    color : white;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 900;
    margin-top: 40px;
    margin-bottom: 50px;
    }  

    button:hover {
        transition-duration: 0.4s;
        background-color: #81d698; 
        color: white;
      } */
 

  p {
    line-height: 1.5em;
    font-size: 16px;
    color: #FFFFFF;

  }

  /*Canvas Style*/

  #myCanvas {
      /* border: 2px solid greenyellow; */
      display: block;
      margin: 0 auto;
      width: 500px;
      height: 550px;
      margin-top: 10%;
  }

  iframe {
    height: 100px;
  }


  /* to hide the canvas when gameOver */
  .hidden {
    display: none;
  }

  /* Body > .iframe-gameover {
    height: 100%;
    width: 100%; 
  } */

  .giphy-embed {
    border: solid #81d6e6 5px; 
    border-radius: 15px;
    background-color: #81d6e6;
    width: 170px;
    height: 95px; 
    margin-top: 30px;
    margin-bottom: 10px;
  }

  /* .gameoverscreen > button {
    margin-top: 0px;
    margin-bottom: 15px;
  } */



  /* .iframe-gameover {
    height: 100%;
  } */

  /* winscreen */
  /* .winscreen > button {
    margin-top: 0px;    
    margin-bottom: 15px;
  } */

  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.buttons {
    /* margin: 4%; */
    text-align: center;
}

.btn-hover {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-1 {
    background-image: linear-gradient(to right, #FF0099 , #FDF023, #00FFFF, #FDF023);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}
