@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: "Roboto";
    line-height: 2px;
    height: 800px;
    
}

.et-pic {
    height: 120px;
    margin: 0px;
}
h1 {
    color: #81d6e6;
    font-size: 70px;
    /* line-height: 1em; */
    font-weight: 300;
    margin-top: 70px;
  }

  .youwon,  .youlost {
    color: #81d6e6;
    font-size: 50px;
    /* line-height: 1em; */
    font-weight: 300;
  }

 

h2 {

}

.splashscreen, .winscreen, .gameoverscreen {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    border: solid #81d6e6 6px; 
    border-radius: 15px;
    width: 600px;
    height: 800px;
    padding: 0 auto;
    margin: 0 auto;
}
  
.paris-pic {
    height: auto;
    width: 100%;
    /* margin-bottom: 50px; */
}

  /* body > div {
    height: 450px;
    width: 600px; 
    padding-top: 50px;
    position: relative;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
  } */


  button {
    border-radius: 15px;
    padding: 20px;
    background-color: #81d6e6;
    border-color: white;
    color : white;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 900;
    margin-top: 40px;
    margin-bottom: 50px;
    }  

    button:hover {
        transition-duration: 0.4s;
        background-color: #81d698; 
        color: white;
      }
 

  p {
    line-height: 0.05em;
  }

  /*Canvas Style*/

  #myCanvas {
      /* border: 2px solid greenyellow; */
      display: block;
      margin: 0 auto;
      width: 500px;
      height: 550px;
      margin-top: 10%;
  }

  iframe {
    height: 100px;
  }


  /* to hide the canvas when gameOver */
  .hidden {
    display: none;
  }

  Body > .iframe-gameover {
    height: 100%;
    width: 100%; 
  }

  .giphy-embed {
    border: solid #81d6e6 5px; 
    border-radius: 15px;
    background-color: #81d6e6;
    width: 170px;
    height: 95px; 
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .gameoverscreen > button {
    margin-top: 0px;
    margin-bottom: 15px;
  }

  .winscreen > button {
    margin-top: 0px;    
    margin-bottom: 15px;
  }